<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<title>
Nicholas Quah || Writer, Entrepreneur
</title>

<link href='/static/css/style.015630.css' media='screen' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>

<meta content='Nicholas Quah' name='author'>
<meta content='Nicholas Quah - Writer, Social Scientist, Entrepreneur' name='description'>

<style>
	.landing {
		height: 260px;
		font-family: 'Gentium Book Basic', sans-serif;
		background: #ecf0f1;	
	}

	.landing h1 {
		padding-top: 40px;
		color:#2c3e50;
		text-align: center;
		font-family: 'Gentium Book Basic', sans-serif;
		font-size: 100px;
	}

	.landing h3 {
		font-family: 'Gentium Book Basic', sans-serif;
		font-size: 30px;
		color: #2c3e50;
		text-align: center;
		margin-top: 0px;
	}

	.about {
		font-family: 'Gentium Book Basic', sans-serif;
		font-size: 24px;	
		padding-left: 200px;
		padding-right: 350px;
		padding-top: 50px;
		padding-bottom: 30px;
	}


	.header-one {
		height: 72px;	
		background: #16a085;
		margin-bottom: 50px;
	}

	.header-one h2 {
		font-family: 'Gentium Book Basic', sans-serif;
		text-align: center;
		color: white;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.samples-kinocuratorial {
		height: 150px;
		font-family: 'Gentium Book Basic', sans-serif;
		text-align: center;
	}

	.samples-kinocuratorial h2 {
		font-family: 'Gentium Book Basic', sans-serif;
	}

	.samples-kinocuratorial p {
		font-family: 'Gentium Book Basic', sans-serif;
		margin-top: 20px;
		font-size: 18px;
	}

	a {
		font-family: 'Gentium Book Basic', sans-serif;
		font-size: 20px;
		padding-bottom: 12px;
	}

	.samples-writing {
		height: 230px;
		text-align: center;
		font-family: 'Gentium Book Basic', sans-serif;
	}

	.samples-writing h2 {
		font-family: 'Gentium Book Basic', sans-serif;
	}

	.samples-writing p {
		font-size: 18px;
	}

	.header-two {
		height: 72px;
		font-family: 'Gentium Book Basic', sans-serif;	
		background: #2c3e50;
		margin-top: 100px;
	}

	.header-two h2 {
		font-family: 'Gentium Book Basic', sans-serif;
		text-align: center;
		color: white;
		padding-top: 20px;
	}

	.contact {
		height: 200px;
		font-family: 'Gentium Book Basic', sans-serif;	
		background: white;
		font-size: 16px;
		text-align: center;
		padding-top: 40px;
	}

	.contact a {
		font-size: 16px;
	}

</style>
</head>


<body>
<div class='landing'>
	<h1>Nicholas Quah</h1>
	<h3>Writer, Entrepreneur</h3>
</div>
<div class='about'>
	<p>I am a non-American in America who believes in making a less imperfect world.</p>
	
	<p>Principally, I am attracted to two broad problems:</p>
	<ul>
		<li>The Communication of Meaningful Information</li>
		<li>Education</li>
	</ul>
	<p>Currently, I am a freelance copyeditor, copywriter, and UX designer.</p>
	<p>I'm a graduate of Wesleyan University and I was once a graduate student at the University of Chicago.</p>
</div>

<div class='header-one'>
	<h2>Sample Projects</h2>
</div>

<div class='samples-kinocuratorial'>
	<h2>Projects</h2>
	<a href="http://kinocuratorial.com/">Kinocuratorial</a>
	<p>Recently, I played around with providing a service that provides a list of curated film essays based on films requested by users.<br>
	This service has been discontinued.</p>
</div>

<div class='samples-writing'>
	<h2>Writing</h2>
	<a href="http://vm-associates.com/author/nquah/">VM Associates Blog</a>
	<p>I contribute blog posts to a business development firm that specializes in cloud-based software.</p>
	<br>
	<a href="https://medium.com/lessons-learned-1/64f2c4f1442f">Medium</a>
	<p>I posted two brief essays on Medium once.</p>
	<br>
	<a href="http://wesleying.org/author/nwquah/">Wesleying</a>
	<p>Back in college, I helped manage and produce content for the unofficial student life blog that received over 200,000 views a month. <br>It was incredibly fun.</p>
</div>

<div class='header-two'>
	<h2>Contact</h2>
</div>

<div class='contact'>
	<p>Do hit me up! I'm always looking to work on interesting projects. If you're interested in hiring, send me <a href="mailto:nwquah@gmail.com">an email</a>.</p>
	<br>
	<a href="https://twitter.com/frosted_moose">Twitter</a>
	<br>
	<a href="http://www.linkedin.com/in/nwquah">LinkedIn</a>
</div>
